/* desktop */

/* .btn-menu {
  display: none;
}



.btn-login:hover {
  background: var(--primary);
  border: none;
  transition: all 0.3s ease-in-out;
}

.menu a:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
} */
