@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variables para colores y para fuentes */
:root {
  --primary: #4452fe;
  --first-text: #000;
  --gray: #5c5c5c;
  --dark-bg: #181818;
  --secondary-bg: #1e1e1e;
  --white: #fff;
  --light-text: #fff;

  /* Fuentes */
  --font: "Poppins", sans-serif;
  --light: 400;
  --medium: 500;
  --bold: 700;
}

body {
  background: var(--dark-bg);
  color: var(--light-text);
  font-family: var(--font);
  overflow-x: hidden;
  width: 100%;
}

a {
  color: var(--light-text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  z-index: 2;
  position: relative;
}

.logo {
  width: 90px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  order: 3;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  transform: translateX(200%);
  transition: all 0.3s ease-in-out;
  /* por el momento la animacion esta inactiva ya que se vera en js */

  /* SE DAN LOS SIGUIENTES ATRIBUTOS PARA QUE EL MENU APAREZCA POR ENCIMA DEL MAIN */
  position: absolute;
  top: 5rem;
  background-color: var(--dark-bg);
  left: 0;
}

/* .show {
  transform: translateX(0);
} */

.menu li {
  border-bottom: 1px solid var(--white);
}

.btn-login {
  border: 1px solid var(--white);
  padding: 0.8rem 2.5rem;
  border-radius: 10px;
}
